@import url("https://fonts.googleapis.com/css?family=Fredoka+One");
@import url("https://fonts.googleapis.com/css?family=Quattrocento+Sans");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,600");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  height: 100%;
  background-color: #fdfeff;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png"); }

.app {
  width: 100%; }

.navbar-brand {
  font-size: 2.5rem; }

.nav-link {
  font-size: 1rem; }

.content-center {
  margin: 1rem auto; }

.content-container-center {
  max-width: 80rem;
  width: 60%;
  min-width: 55rem;
  margin: 1rem auto;
  text-align: end; }

.stock-container {
  min-height: calc(2rem + (3 * 3rem));
  max-width: 80rem;
  width: 60%;
  min-width: 55rem;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  background-color: #193446;
  color: white;
  border-radius: 2rem;
  -webkit-box-shadow: -1px 11px 5px -5px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: -1px 11px 5px -5px rgba(0, 0, 0, 0.48);
  box-shadow: -1px 11px 5px -5px rgba(0, 0, 0, 0.48); }

.ticker {
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 4rem; }

.price {
  flex-grow: 1;
  flex-basis: 100%;
  align-items: center;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 4rem; }
  .price button {
    font-size: 2rem;
    float: right;
    background-color: transparent;
    border: none;
    color: red; }
  .price--text {
    font-size: 30px;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }

.row--header {
  color: white; }
  .row--header__name, .row--header__date, .row--header__button, .row--header__num {
    position: relative;
    font-family: 'Fira Sans', sans-serif;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    display: inline-block;
    background-color: #193446; }
  .row--header__num {
    width: 8%; }
  .row--header__date {
    width: 17%; }
  .row--header__name {
    width: 22%; }
  .row--header__button {
    width: 9%; }

.row--data {
  font-family: 'Fira Sans', sans-serif;
  font-size: 12px;
  height: 3rem;
  line-height: 3rem;
  background: #193446;
  /* Old browsers */
  background: -moz-linear-gradient(top, #606c88 0%, #193446 100%);
  background: -webkit-linear-gradient(top, #606c88 0%, #193446 100%);
  background: linear-gradient(to bottom, #606c88 0%, #193446 100%);
  color: white; }
  .row--data__name, .row--data__date, .row--data__button, .row--data__num {
    text-align: center;
    display: inline-block; }
  .row--data__num {
    width: 8%; }
  .row--data__date {
    width: 17%; }
  .row--data__name {
    width: 22%; }
  .row--data__button {
    width: 9%; }

.row--input {
  height: 3rem;
  background-color: #193446;
  color: white; }
  .row--input__name, .row--input__date, .row--input__button, .row--input__num {
    text-align: center;
    display: inline-block; }
  .row--input__num {
    width: 8%; }
  .row--input__date {
    width: 17%; }
  .row--input__name {
    width: 22%; }
  .row--input__button {
    width: 9%; }

.button {
  width: 100%;
  text-align: center; }

.navbar--dark {
  background-color: #193446;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 3rem; }

.navbar__buttons {
  font-size: 1.4rem; }

.landing__box {
  padding: 4rem;
  position: relative; }
  .landing__box--left {
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    color: #193446; }
    @media (min-width: 1023px) {
      .landing__box--left {
        font-size: 10rem;
        line-height: 10rem; } }
    @media (min-width: 501px) and (max-width: 1022px) {
      .landing__box--left {
        font-size: 7rem;
        line-height: 7rem; } }
    @media (max-width: 500px) {
      .landing__box--left {
        font-size: 5rem;
        line-height: 4rem; } }
  .landing__box--right {
    min-height: 50rem; }

@media (min-width: 700px) {
  .landing__btn {
    width: 20rem;
    margin: 0 auto;
    height: 5rem;
    font-size: 2rem; } }

.landing__btn--group {
  margin-top: 5rem; }

img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%; }
  @media (min-width: 769px) {
    img {
      transform: translate(-50%, -50%); } }
  @media (max-width: 768px) {
    img {
      transform: translate(-50%, -74%); } }
