@import url("https://fonts.googleapis.com/css?family=Quattrocento+Sans");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,600");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  height: 100%; }

.app {
  width: 100%; }

.content-center {
  margin: 0 auto; }

.stock-container {
  min-height: calc(2rem + (3 * 3rem));
  max-width: 80rem;
  width: 60%;
  min-width: 40rem;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  background-color: lightgray;
  border-radius: 4rem; }

.ticker {
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 4rem; }

.price {
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 4rem; }

.row--header {
  color: white; }
  .row--header__name, .row--header__date, .row--header__button {
    height: 2rem;
    text-align: center;
    display: inline-block; }
    .row--header__name:nth-child(even), .row--header__date:nth-child(even), .row--header__button:nth-child(even) {
      background-color: #0000a3; }
    .row--header__name:nth-child(odd), .row--header__date:nth-child(odd), .row--header__button:nth-child(odd) {
      background-color: #2525ff; }
  .row--header__date {
    width: 12.5%; }
  .row--header__name {
    width: 22%; }
  .row--header__button {
    width: 9%; }

.row--data {
  background: #606c88;
  /* Old browsers */
  background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  background: -webkit-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  background: linear-gradient(to bottom, #606c88 0%, #3f4c6b 100%);
  color: white; }
  .row--data__name, .row--data__date, .row--data__button {
    text-align: center;
    display: inline-block; }
  .row--data__date {
    width: 12.5%; }
  .row--data__name {
    width: 22%; }
  .row--data__button {
    width: 9%; }

.row--input {
  height: 3rem;
  background: #606c88;
  /* Old browsers */
  background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  background: -webkit-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  background: linear-gradient(to bottom, #606c88 0%, #3f4c6b 100%);
  color: white; }
  .row--input__name, .row--input__date, .row--input__button {
    text-align: center;
    display: inline-block; }
  .row--input__date {
    width: 12.5%; }
  .row--input__name {
    width: 22%; }
  .row--input__button {
    width: 9%; }

.button {
  width: 100%;
  text-align: center; }
