.footer {
    text-align: center;
    // position: fixed;
    position: relative;
    // height: 4rem;
    bottom: -77px;
    left: 0;
    right: 0;
    margin-bottom: 0px;
    background-color: $ink;
    // color: $powder-blue;
    color: #7b7b7b;
    padding: 1rem;
}