.stock-container {
    min-height: calc(#{$category-height} + (3 * #{$data_height}));
    max-width: 80rem;
    width: 60%;
    min-width: 40rem;
    // border: 1px solid blue;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    background-color: rgb(211, 211, 211);
    border-radius: 4rem;
}