// Dimensions
$category-height: 2rem;
$data-height: 3rem;
$input-font: 1.5rem;

// Colors
$powder-blue: #C4D4E0;
$nantucket: #9AABB9;
$apricot: #E2B49A;
$jasmine: #E9C77B;
$ink: #193446;
$background-beige: #fdfeff;